/************** tpl-admin-menu stylesheet *****************/
table.tabShadow {
  border: 0px solid #c3c4c7;
  box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
  border-radius: 34px;
  background: #f0f0f1;
  box-shadow: -18px -18px 36px #bbbbbc, 18px 18px 36px #ffffff;
  padding: 35px;
  margin: 31px 7% 0px 31px;
  width: 87%;
}
.update {
  margin: 0 20px 0 20px;
}
/*  *********** add style sheet ********************** */
input.txtAddItem {
  border: 0 solid red;
  border-radius: 50px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
}
#butAddItem {
  border: 0 solid red;
  border-radius: 50px;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  min-height: 32px;
  padding: 0 10px;
}
